.loader {
    position: absolute;
    display: block;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    z-index: 1;

    .spinner {
        position: absolute;
        top:50%;
        left:50%;
        text-align: center;
        font-size: 2rem;
        animation: spin infinite 2s linear;
        }
        
    @keyframes spin {
        from {
            transform: translate(-50%) rotate(0deg);
        }
        to {
            transform: translate(-50%) rotate(360deg);
        }
    }
}
  

  
