@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@import 'themes';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 4.2rem;
}

h2 {
  text-align: center;
  font-size: 3.15rem;
}

h3 {
  font-size: 2.36rem;
  font-weight: normal;
}

h4 {
  font-size: 1.77rem;
}

h5 {
  font-size: 1.33rem;
}

header {
  box-shadow: 0 4px 16px #8888884d;
}

input[type='text'],
input[type='search'] {
  padding: 0.5rem;
  width: 100%;
  border-width: 1px;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
}
