.dark {
  background-color: #141414;
  color: silver;
  border-color: currentColor;

  input[type='search'] {
    color: darkgray;
    border-color: currentColor;

    &:focus {
      color: lightgray;
    }
  }

  header {
    background-color: #141414;

    nav {
      a {
        color: silver;
      }

      a:hover,
      svg:hover {
        color: whitesmoke;
      }
    }
  }

  article {
    color: white;
    border-color: lightgray;
  }
}

.light {
  background-color: white;
  color: #666;

  input[type='search'] {
    color: #666;
    border-color: currentColor;

    &:focus {
      color: #222;
    }
  }

  header {
    background-color: white;

    a:hover,
    svg:hover {
      color: #141414;
    }
  }

  article {
    color: white;
    border-color: whitesmoke;
  }
}
